.link{
    color: white;
    text-decoration: none;
    margin: 1rem;
}

.link:hover{
    color: rgb(117, 113, 106);
}

.link:focus{
    color: rgb(117, 113, 106);
}
  
.scroll {
    position: fixed;
  }